@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', sans-serif;
}

.paginate {
    display: flex;
    align-items: center;
    justify-content: end;
}

.paginate li {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(161, 161, 161);
    margin: 5px;
    display: flex;
    align-self: center;
    justify-content: center;
}